<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание класса</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Создание нового класса</h1>
    <form action="{{ url_for('create_class') }}" method="POST">
        <label for="class_name">Название класса:</label>
        <input type="text" id="class_name" name="class_name" required>
        <br>
        <input type="submit" value="Создать класс">
    </form>
    <a href="{{ url_for('index') }}">Назад на главную</a>
</body>
</html>
