<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приєднатися до класу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}
    <h2>Приєднатися до класу</h2>
    <form method="POST">
        <label for="class_id">ID класу:</label>
        <input type="text" id="class_id" name="class_id" required>
        
        <button type="submit">Приєднатися</button>
    </form>
    {% endblock %}
</body>
</html>
